# Level Payment
## 1) Notation
- $A$: loan amount
- $d$: loan period (in months)
- $r_y$: annual interst rate
- $r_m$: monthly interest rate
    - $r_m = \frac{r_y}{12}$
- $a_{p,i}$: monthly principal repayment amount
- $a_{r,i}$: monthly interest repayment amount
- $a_i$: monthly principal and interest repayment amount
    - $a_i = a_{p,i} + a_{r,i}$

## 2) Formula (Recurrence Relation)
Monthly principal and interest repayment amount

\begin{aligned}
a_i &= A r_m + a_{p,1} \\
&= A r_m \times \frac{(1+r_m)^{d}}{(1+r_m)^d-1}, \quad \forall i=1, 2, \cdots, d
\end{aligned}

Monthly principal repayment amount
$$ a_{p,i} = a_{p,1}(1+r_m)^{i-1}, \quad \forall i=1, 2, \cdots, d$$

First month principal repayment amount
$$ a_{p,1} = \frac{A r_m}{(1+r_m)^d - 1}$$ 

Monthly interest repayment amount
\begin{aligned}
a_{r,i} &= A r_m \times \frac{(1+r_m)^{d}}{(1+r_m)^d-1} - a_{p,1}(1+r_m)^{i-1} \\
&= \frac{A r_m}{(1+r_m)^d-1} ((1+r_m)^{d} - (1+r_m)^{i-1}), \quad \forall i=1, 2, \cdots
\end{aligned}

## 2) Derivation
Repayment amount
- (1-st month) total repayment amount = $a_{r,1} + a_{p,1} = A r_m + a_{p,1}$
- (2-nd month) total repayment amount = $a_{r,2} + a_{p,2} = (A - a_{p, 1}) r_m + a_{p,2}$
- (3-rd month) total repayment amount = $a_{r,3} + a_{p,3} = (A - a_{p, 1} - a_{p, 2}) r_m + a_{p,3}$
- ...
- (d-th month) total repayment amount = $a_{r,d} + a_{p,d} = (A - a_{p, 1} - \cdots - a_{p, d-1}) r_m + a_{p,d}$

Find $a_{p,i}$
- total repayment amount in 1-st month & 2-nd month are same
    - $A r_m + a_{p,1} = (A - a_{p, 1}) r_m + a_{p,2} \Rightarrow a_{p,2} = a_{p,1}(1+r_m)$
    - total repayment amount in 1-st month & 2-nd month are same
- total repayment amount in 2-nd month & 3-rd month are same
    - $(A - a_{p, 1}) r_m + a_{p,2} = (A - a_{p, 1} - a_{p, 2}) r_m + a_{p,3} \Rightarrow a_{p,2} = a_{p,2}(1+r_m) = a_{p,1}(1+r_m)^2$
- ...
- total repayment amount in (d-1)-th month & d-th month are same
    - $(A - a_{p, 1} - \cdots - a_{p, d-2}) r_m + a_{p,d-1} = a_{r,d} + a_{p,d} = (A - a_{p, 1} - \cdots - a_{p, d-1}) r_m + a_{p,d} \Rightarrow a_{p,d} = a_{p,d-1}(1+r_m) = a_{p,1}(1+r_m)^{d-1}$
 
Find $a_{p,1}$
- A = $\sum_{i=1}^d a_{p,i} = \sum_{i=1}^d a_{p,1}(1+r_m)^{i-1} = a_{p,1}\frac{(1+r_m)^d-1}{r_m} \Rightarrow a_{p,1} = \frac{Ar_m}{(1+r_m)^d-1}$

## 3) Some Note
Since the remaining loan amount decreases every month, the total repayment amount is the same as assuming that we're taking a remaing loan amount of new morgage loan
- month=1
    - monthly principal repayment: $\frac{Ar_m}{(1+r_m)^d-1}$
    - remaining loan amount: $A - \frac{Ar_m}{(1+r_m)^d-1} = A \frac{(1+r_m)^d-1 -r_m}{(1+r_m)^d-1} = A(1+r_m) \frac{(1+r_m)^{d-1}-1}{(1+r_m)^d-1}$
    - remaining months: $d-1$
- month=2
    - continue from month1
        - monthly principal repayment: $a_{p,1}(1+r_m)=\frac{Ar_m(1+r_m)}{(1+r_m)^d-1}$
        - remaining loan amount: $A(1+r_m) \frac{(1+r_m)^{d-1}-1}{(1+r_m)^d-1} - \frac{Ar_m(1+r_m)}{(1+r_m)^d-1} = A(1+r_m)^2 \frac{(1+r_m)^{d-2}-1}{(1+r_m)^d-1}$
        - remaining months: $d-2$
    - assume a new morgage loan has started in month=1
        - monthly principal repayment: $A(1+r_m) \frac{(1+r_m)^{d-1}-1}{(1+r_m)^d-1} \frac{r_m}{(1+r_m)^{d-1}-1}  = \frac{Ar_m(1+r_m)}{(1+r_m)^{d}-1}$
        - remaining loan amount: $A(1+r_m) \frac{(1+r_m)^{d-1}-1}{(1+r_m)^d-1}-\frac{Ar_m(1+r_m)}{(1+r_m)^{d}-1} = A(1+r_m)^2 \frac{(1+r_m)^{d-2}-1}{(1+r_m)^d-1}$
        - remaining months: $d-2$
- ...

In [1]:
import math

import pandas as pd

from morgage import MorgageLoan

In [2]:
loan_amount = 500000000
annual_interest = 0.042
duration = 480
extra_monthly_payment = 0

In [3]:
simulator = MorgageLoan(
    loan_amount=loan_amount,
    annual_interest=annual_interest,
    duration=duration,
    scenario="level_payment",
    extra_monthly_payment=extra_monthly_payment,
)

In [4]:
df = pd.DataFrame(simulator.simulate())

In [5]:
df

,month,loan_amount,principal_payment,interest_payment,total_payment,extra_payment
0,0,5.000000e+04,0.000000,0.000000,0.000000,0.0
1,1,4.995977e+04,40.231356,175.000000,215.231356,0.0
2,2,4.991940e+04,40.372165,174.859190,215.231356,0.0
3,3,4.987888e+04,40.513468,174.717888,215.231356,0.0
4,4,4.983823e+04,40.655265,174.576091,215.231356,0.0
...,...,...,...,...,...,...
476,476,8.534447e+02,211.504035,3.727321,215.231356,0.0
477,477,6.412004e+02,212.244299,2.987057,215.231356,0.0
478,478,4.282133e+02,212.987154,2.244202,215.231356,0.0
479,479,2.144807e+02,213.732609,1.498746,215.231356,0.0
480,480,3.585592e-12,214.480673,0.750682,215.231356,0.0

In [6]:
"""
assuming that an additional 4,000,000 KRW is paid each month
"""

loan_amount = 500000000
annual_interest = 0.042
duration = 480
extra_monthly_payment = 4000000

In [7]:
simulator = MorgageLoan(
    loan_amount=loan_amount,
    annual_interest=annual_interest,
    duration=duration,
    scenario="level_payment",
    extra_monthly_payment=extra_monthly_payment,
)

In [8]:
df = pd.DataFrame(simulator.simulate())

In [9]:
df

,month,loan_amount,principal_payment,interest_payment,total_payment,extra_payment
0,0,50000.000000,0.000000,0.000000,0.000000,0.00000
1,1,49559.768644,40.231356,175.000000,215.231356,400.00000
2,2,49119.719717,40.048928,173.459190,213.508118,400.00000
3,3,48679.855249,39.864468,171.919019,211.783487,400.00000
4,4,48240.177287,39.677962,170.379493,210.057455,400.00000
...,...,...,...,...,...,...
114,114,1588.861290,2.676008,6.970381,9.646389,400.00000
115,115,1186.715998,2.145292,5.561015,7.706306,400.00000
116,116,785.105904,1.610094,4.153506,5.763600,400.00000
117,117,384.035519,1.070384,2.747871,3.818255,400.00000
118,118,0.000000,0.526130,1.344124,1.870254,383.50939